.left-side{
  @include mq(tablet){
 margin-right: 165px;
//  justify-content: center;
  }
}
address {
  margin-bottom: 60px;
    margin-top: 20px;
    // margin-bottom: 60px;
    @include mq(mobile){
      
      
     }
  }
 
  .connections .connections-item + .connections-item {
    margin-top: 9px;
  }
  
 
  .connections__link.location {
    color: #ffffff;
  }
  .connections__link {
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  .connections.list{
    // width: 230px;
    
  }
 