.page-footer {
  // min-width: 480px;
  background-color: var(--secondary-bg-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer .container {
  display: flex;
  align-items: baseline;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-footer .studio {
  color: #ffffff;
}
