.page-header .contacts {
  display: none;

  

    
    @include mq(tablet){
      margin-left: auto;
      display: flex;
      flex-direction: column;
      padding: 21px 0;
    }
  
  }
  .page-header .contacts__icon{
    padding: 2px;
    margin-right: 8px;
  }
  .page-header .contacts__icon-tel{
    padding-left: 0;
  }
  .page-header .contacts__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
font-size: 12px;
line-height: 14px;

/* identical to box height */

letter-spacing: 0.02em;

color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      color: var(--link-color);
    }
    &:focus .contacts__icon,
    &:hover .contacts__icon {
      fill: var(--accent-color);
    }

  &__item + &__item {
    margin-left: 50px;
  }
  &__item {
    display: flex;
  }

  &__icon {
    fill: #afb1b8;

    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include mq(tablet){
    // margin-left: auto;
  }
}
.contacts__icon {
  fill: #afb1b8;

  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// .contacts__item{

// }
