.contacts {
  .contacts__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.2;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--link-color);
    }
    &:focus .contacts__icon,
    &:hover .contacts__icon {
      fill: var(--accent-color);
    }
  }

  &__item + &__item {
    margin-left: 50px;
  }
  &__item {
    display: flex;
  }

  &__icon {
    fill: #afb1b8;

    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
