
.page-header {
  position: relative;
  
    height: 60px;
  & .contacts {
    display: flex;
    margin-left: auto;
  }
  &__container {
    
    width: 100%;
    display: flex;
    margin: 0;

  }
  @include mq(mobile) {
    
  }
  @include mq(tablet) {
    height: 80px;
    // align-items: center;
  }
  @include mq(desktop) {
  }
}


.header-nav {
  display: none;
  
  @include mq(mobile) {
    display: flex;
    margin-left: 0;
    align-items: baseline;
  }
}
.bottom-line {
  border-bottom: 1px solid #ececec;
}

