:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --secondary-text-color: #757575;
  --button-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #2196f3;
  --link-color: #2196f3;
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif; 
}
